<ion-view view-title="P R E V I O U S">
  <ion-content class="text-center">
  	<div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image4.jpg">
          <p>May 8th, 2016 at 2:15pm at TechCrunch</p>
      </div>
    </div>
    <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image3.jpg">
          <p>April 21st, 2016 at 2:45pm at Home</p>
      </div>
    </div>
    <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image7.jpg">
          <p>April 4th, 2016 at 9:19am at Work</p>
      </div>
    </div>
    <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image4.jpg">
          <p>March 28th, 2016 at 4:10pm in my Compilers Class</p>
      </div>
    </div>
     <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image5.jpg">
          <p>March 25th, 2016 at 8:52pm in the Lab</p>
      </div>
    </div>
     <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image6.jpg">
          <p>March 14th, 2016 at 7:38pm at my Tap Class</p>
      </div>
    </div>
     <div class="card">
       <div class="item item-body">
          <img class="full-image" src="img/image7.jpg">
          <p>March 5th, 2016 at 8:19am during my OS exam</p>
      </div>
    </div>
  </ion-content>
</ion-view>
