<ion-view view-title="P A T I E N T S">
  <ion-content>
  <!-- Patient One -->
  	<a nav-transition="android" href="#/app/results">
        <div class="card">
           <div class="item item-avatar">
                <img src="img/prof.jpg">
                 <h2 class="patient-headers">Kathryn Hodge</h2>
            </div>
            <div class="item item-body">
                 <img class="full-image" src="img/image3.jpg">
                  <h2> Last Appointment: April 21st</h2>
                <p>Showing signs of anxiety from hacking too much. Seems addicted to coding - won't mention anything
                unless it gets worse.</p>
            </div>
      </div>
      </a>
  <!-- Patient Two -->
     <div class="card">
           <div class="item item-avatar">
                <img src="img/prof1.jpg">
                 <h2 class="patient-headers">Taylor Swift</h2>
            </div>
            <div class="item item-body">
                 <img class="full-image" src="img/image2.jpg">
                  <h2> Last Appointment: May 2nd</h2>
                <p>Seems to be having a good year so far. Enjoying her family and Calvis Harris. Thinking of releasing an album soon, but doesn't want to deal with more press. Just wants to retreat to her island of cats in New York.</p>
            </div>
      </div>
   <!-- Patient Three -->
         <div class="card">
           <div class="item item-avatar">
                <img src="img/prof2.jpg">
                 <h2 class="patient-headers">Selena Gomez</h2>
            </div>
            <div class="item item-body">
                 <img class="full-image" src="img/image1.png">
                  <h2> Last Appointment: March 11th</h2>
                <p>Seems to be having a good year so far. Enjoying her family and Calvis Harris. Thinking of releasing an album soon, but doesn't want to deal with more press. Just wants to retreat to her island of cats in New York.</p>
            </div>
      </div>
  </ion-content>
</ion-view>